<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
		<section name="DbBridgeSettings" type="Core.Sections.DbBridgeSection, Core" />
	</configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="AppName" value="Coordinator" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <DbBridgeSettings>
		<Databases>
			<add key="Debug.Test" value="SERVER=localhost;DATABASE=test;UID=root;PORT=3306"/>
      <add key="Release.Test" value="SERVER=IF7-DESKTOP;UID=root;PWD=nokia3310;DATABASE=test;PORT=3306"/>
		</Databases>
	</DbBridgeSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>